/* //////////////////////////////////////////// MEDIA QUERIES /////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1260px) {

	.newsletter-form input[name=LNAME],
	.newsletter-form input[name=EMAIL],
	.newsletter-form button[type=submit] {
		width: 22% !important;
	}


	.fancy .be-button {
		font-size: 16px !important;
		padding: 0px 0px 0px 0px !important;
		margin: 0px 0px 0px 0px !important;
	}

	#bottom-widgets-wrap .column-block .widget:last-child {
    	/*margin-bottom: 0;*/
	}

}

@media only screen and (max-width: 767px) {

.be-no-space .no-background .be-custom-column-inner, .be-no-space .no-background .be-custom-column-pad {
     padding: 30px 30px !important; 
     padding: 0px 0px !important;
}

.left-sidebar-page, .right-sidebar-page, .no-sidebar-page .be-section-pad:first-child, .page-template-page-940-php #content, .no-sidebar-page #content-wrap, .portfolio-archives.no-sidebar-page #content-wrap {
     /*padding-top: 0px !important; */
     /*padding-bottom: 0px !important; */
}

	.fancy .column-block,
	.fancy .column-block {
		/*margin-bottom: 20px !important;*/
	}

	.gmap-wrapper {
	    height: 350px !important;
	}

	.be-section .be-row:last-child .column-block {
     	/*margin-bottom: 20px !important; */
	}

	.column-block .be-custom-column-pad {
     	padding: 30px 10px !important; 
	}

	.illustration .be-custom-column-pad {
     	padding: 0px 10px !important; 
	}
}


@media only screen and (max-width: 960px) {

/*.filters {
	background: linear-gradient(to right,  #ddd 0%,#fff 50%,#ddd 100%) #ddd !important;
	padding: 0px !important;
	margin: 0px !important;
	display: block;
}
*/
.filters {

}

.filter_item {
	padding-top: 10px !important;
	display: block !important;
}


.filter_item:last-child {
		padding-bottom: 20px !important;
}


.filters.border .sort {
     /*padding: 0px 0px 0px 0px !important; */
}

.mc4wp-form-fields p {
text-align: center !important;
}

	#footer-wrap .made-by img {
	width: 100px !important;
	height: auto !important;
	margin-bottom: 10px;
}

#footer-wrap .made-by a {
    text-align: center !important;
    color: #ddd !important;
    font-weight: normal !important;
    font-size: 10px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#footer-wrap .made-by {
    display: inline-block !important;
     margin-top: 10px !important; 
    text-align: center !important;
}

	.wpcf7 label {
	 	display: block !important;
	 	width: 100% !important;
	 	padding-right: 0rem;
	 	margin-bottom: 1rem;
	 } 


	/* Portfolio remove dark overlay */
	.section-overlay {
		opacity: 0 !important;
	}

	#header-controls-right {
	    line-height: 170px  !important;
	    right: 20px !important;
	    z-index: 2000 !important;
	}

	.mobile-nav-controller {
	    line-height: 170px  !important;
	    right: 20px !important;
	    z-index: 2000 !important;
	}

	#mobile-menu {
		z-index: 8000 !important;
	}

	.grey {	
	    background: linear-gradient(to left,  #ddd 0%,#fff 25%, #fff 50%,#fff 75%, #ddd 100%) #eee !important;
	}

	p {
		font-size: 16px !important;
	}

	h1,
	.event-container h1 {
		font-size: 28px !important;
	}

	h2 {
		font-size: 20px !important;
	}

	.logo {
		margin-left: 0 !important;
		text-align: center !important;
	}

	.logo img {
	    height: auto; 
	    width: 220px; 
	    max-width: 220px; 
	    max-height: 220px;
	}

	.mc4wp-form-fields p input[name=FNAME],
	.mc4wp-form-fields p input[name=LNAME],
	.mc4wp-form-fields p input[name=EMAIL],
	.mc4wp-form-fields button[type=Submit],
	button[type="submit"],
	input[type="submit"],
	.tribe-events-button,
	.tribe-events-read-more,
	.be-button {
		width: 98% !important;
		display: inline-block;
		float: none;
		margin: 20px 0px 0px 0px !important;
		box-sizing: border-box;
	}

	#bottom-widgets .widget ul li {
		display: block;
		padding: 10px;
	}

	#bottom-widgets .widget ul.inline {
		display: inline-block;
		padding: 10px;
		text-align: center;
	}

	#bottom-widgets .widget {
		text-align: center;
	}

	.custom-list-content {
		text-align: center;
	}

	.custom-list-content-inner {
		padding-left: 0px !important;
	}

	.custom-list .font-icon {
		display: block !important;
		text-align: center !important;
		width: auto !important;
	}

	.newsletter-form::after {
	    background: #8c8c8c url('../../uploads/2016/04/P8150001-30.png') no-repeat left scroll !important;
		background-size: cover !important;
		opacity: 0.3;
	}

	.portfolio-nav .column-block .be-custom-column-pad,
	.tribe-events-sub-nav {
		padding: 5px 10px !important;
		margin: 0px !important;
	}

	.red, 
	#header, 
	#mobile-menu {
		position: relative !important;
		background: linear-gradient(to bottom, rgba(0,0,0,0.11) 0%,rgba(0,0,0,0.22) 78%,rgba(0,0,0,0.28) 100%), #9e1b7e !important;
	}

	.tribe-events-sub-nav .tribe-events-nav-previous,
	.tribe-events-sub-nav .tribe-events-nav-next {
	    width: 50%;
	}

	.style1 #navigation, 
	.style3 #navigation, 
	.style5 #navigation, 
	#header-controls-left, 
	#header-controls-right, 
	#header-wrap, 
	.mobile-nav-controller-wrap, 
	.menu-controls,
	.mobile-nav-controller
	#left-header-mobile .header-cart-controls, 
	.style6 #navigation-left-side, 
	.style6 #navigation-right-side, 
	.overlay-menu-close {
	    line-height: 180px !important;
	}

	.fancy .be-button {
		font-size: 14px !important;
		padding: 0px 0px 0px 0px !important;
		margin: 0px 0px 0px 0px !important;
	}
}

@media only screen and (max-width: 480px) and (min-width: 321px) {

	html .portfolio-container .element:last-child, 
	html .portfolio-container .element,
	html .portfolio-container .element:last-child[style], 
	html .portfolio-container .element[style]
	/*html .full-screen.full-screen-gutter .element:last-child[style], 
	html .full-screen.full-screen-gutter .element[style]*/ 
	{
	    margin-bottom: 0px !important;
	}

	.filters {
	    margin-bottom: 0px !important;
	}

	html .logo {
	     max-width: 100% !important; 
	     margin-left: 0px !important; 
	}

	html #header-controls-right, 
	html .mobile-nav-controller-wrap {
     	line-height: 187px !important; 
	}

	.be-section-pad {
/*		padding-top: 45px !important;
		padding-bottom: 45px !important;*/
	}
}

@media only screen and (max-width: 320px) {
	.logo {
	     width: 90% !important; 
	     max-width: 100%  !important;  
	     margin-left: 0px !important; 
	}
}